{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body %}
<!-- alert message for from errors -->
{% if form.errors %}
<ul class="errors">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
    <li>{{ form[field_name].label }}: {{ error }}</li>
    {% endfor %}
    {% endfor %}
</ul>
{% endif %}

    <div class="sidebar">


        <!-- topmost logo part -->
        <div class="top">
            <!-- <div class="logo">
                <i class="bx bxs-edit"></i>
                <span> Hi, there! </span>
            </div> -->
            <i class="bx bx-menu" id="btn"></i>
        </div>


        <!-- part with user dp and name -->
        <div class="user">
            {% if user.is_authenticated %}
            <img src="{{user.profile_pic}}" alt="Profile" class="user-profile-pic">
            {% else %}
            <img src="static/images/anon_user.jpg" alt="Profile" class="user-profile-pic">
            {% endif %}
            <p class="user-name"> {{user.name.capitalize()}} </p>

        </div>

        <!-- list of menu panel -->
        <div class="menu">

            <ul>

                <li>
                    <a href="#">
                        <i class='bx bxs-dashboard'></i>
                        <span class="nav-item">Dashboard </span>
                    </a>
                    <span class="sidebar-tooltip"> Dashboard </span>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bxs-home-alt-2' ></i>
                        <span class="nav-item">Home </span>
                    </a>
                    <span class="sidebar-tooltip"> Home </span>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bxs-user'></i>
                        <span class="nav-item">Profile </span>
                    </a>
                    <span class="sidebar-tooltip"> Profile </span>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bxs-cog' ></i>
                        <span class="nav-item">Settings </span>
                    </a>
                    <span class="sidebar-tooltip"> Settings </span>
                </li>

                <li>
                    <a href="#">
                        <i class='bx bxs-chat'></i>
                        <span class="nav-item">Notifications </span>
                    </a>
                    <span class="sidebar-tooltip"> Notifications </span>
                </li>


                <li>
                    <a href="#">
                        <i class='bx bxs-help-circle'></i>
                        <span class="nav-item">Help & Support </span>
                    </a>
                    <span class="sidebar-tooltip"> Help & Support </span>
                </li>

                <li>
                    <a href="{{url_for('auth.logout')}}">
                        <i class='bx bxs-log-out'></i>
                        <span class="nav-item"> Logout </span>
                    </a>
                    <span class="sidebar-tooltip"> Logout </span>
                </li>

            </ul>

        </div>
    </div>

    <!-- main div content -->
    <div class="main-content">
        <div class="current-notes">

            {% if notes | length < 1 %}
                <img src="/static/images/blank.jpg" alt="blank canvas">
                <h2> Hmmm.... Your canvas looks a little empty. Try creating a new task? </h2>

            {% else %}
                <h1 align="center"> My Notes ⏳ </h1>

                <div class="note-table">
                    <table class="table table-striped table-secondary table-hover table-bordered border-dark table-responsive-md ">
                        <caption> my notes :) </caption>

                        <thead class="table-dark">
                            <tr>
                                <th scope="col"> Note Title </th>
                                <th scope="col"> Note Description </th>
                                <th scope="col"> Date Added </th>
                                <th scope="col"> Actions </th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">
                            {% for note in notes %}
                            <tr class="">
                                <td > {{note.title}} </td>
                                <td > {{note.content}} </td>
                                <td > Date : {{note.date_written.date()}} <br/> Time: {{note.date_written.time()}} </td>
                                <td class="table-dark">
                                    <a href="/update/{{note.id}}">
                                        <i class='bx bxs-eraser'></i>
                                            Update
                                    </a>
                                    <br>
                                    <a href="/delete/{{note.id}}">
                                        <i class='bx bx-message-square-minus'></i>
                                            Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                {% endif %}
        </div>


        <div class="new-notes">
            <h1 align="center"> Add a New Note 🎯 </h1>

            <form action="{{url_for('views.index')}}" method="POST" >
                {{form.hidden_tag()}}
                {{form.csrf_token}}
                <div >
                    {{form.title(class='form-controll', placeholder='  Note title...')}}
                </div>

                <div >
                    {{form.content(class='form-controll', placeholder='  Note Descrition...')}}
                </div>

                <div align="center">
                    {{form.submit(class='btn btn-primary form-controll')}}
                </div>
            </form>

        </div>

</div>

{% endblock %}
