{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="auth-container">

<div class="auth-image">
    <img src="static/images/undraw_login_re_4vu2.svg">
</div>

<div class="auth-form">
    <form method="POST" >
        {{form.hidden_tag()}}
        {{form.csrf_token}}
        <fieldset>

            <!-- <img class="avatar" src="static/images/undraw_pic_profile_re_7g2h.svg"> -->
            <h1 align="center"> Login </h1>

            <div class="form-group">
                <i class='bx bx-envelope' ></i>
				{{ form.email.label }}
				{{ form.email(class='form-control', placeholder='Enter Email') }}
			</div>

			<div class="form-group">
                <i class='bx bx-low-vision'></i>
				{{ form.password.label }}
				{{ form.password(class='form-control', placeholder='Enter Password') }}
			</div>

			<div class="remember-forgot">
				<label>
					{{ form.remember_me }}
					{{ form.remember_me.label }}
				</label>
				<a href="#"> Forgot Password </a>
			</div>

			<div align="center" class="form-group">
				{{ form.login(class='btn btn-primary') }}
			</div>


			<div class="signup-link">
				<p>
					Don't have an account? <a href="{{url_for('auth.signup')}}"> Sign Up </a> now
				</p>
			</div>


		</fieldset>
    </form>
</div>

</div>
{% endblock %}
